.body{
    height:100vh;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type: none;
}
.header{
    position: relative;
    z-index:1;
    margin-bottom:40px;
}
.logo{
    width:30px;
    margin-left:5px;
}
.navbar{
    position: fixed;
    top:0px;
    width:100vw;
}
.hero{
    position: relative;
} 

.Info{
    height:10%;
    background: rgb(161,5,5);
    background: linear-gradient(90deg, rgba(161,5,5,1) 0%, rgba(221,52,68,0.9626225490196079) 35%, rgba(255,0,54,1) 100%);
}
.list_info{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.list_info p{
   margin-top:15px;
   color:white;
   text-transform: uppercase;
   font-size:16px;
   font-weight: 700;
   padding:4px;
}

.app-list{
    display: grid;
    grid-template-columns: 1fr;
    margin-top:40px;
    margin-bottom:40px;
    grid-gap:20px;
}

.prices{
    font-size:14px;
    margin-left:250px;
    margin-top:-10px;
}
.originalPrice{
    text-decoration:line-through;
}
.newPrice{
    font-weight: 900;
}

@media all and (min-width: 700px) {
    .app-list{
        grid-template-columns: 1fr 1fr 1fr;
        margin-left:65px;
    }
}
@media all and (min-width: 800px) {
    .hero img{
        height:100vh;
    }
    .list_info p{
        font-size:22px;
     }
}