.body{
    height:100vh;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style-type: none;
}
.logo{
    width:30px;
    margin-left:5px;
}
.navbar{
    position: fixed;
    top:0px;
    width:100vw;
    z-index:1;
}
.hero{
    position: relative;
    width:100vw;
} 

.Info{
    height:60px;
    background: rgb(161,5,5);
    background: linear-gradient(90deg, rgba(161,5,5,1) 0%, rgba(221,52,68,0.9626225490196079) 35%, rgba(255,0,54,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_info{
    display:flex;
    align-items: center;
    margin-top:10px;
}
.list_info p{
   color:white;
   text-transform: uppercase;
   font-size:16px;
   font-weight: 700;
   margin-left:20px;
}

.app-list{
    display: grid;
    grid-template-columns: 1fr;
    margin-top:40px;
    margin-bottom:40px;
    grid-gap:20px;
    justify-items: center;
}
.card{
    position: relative;
    height:380px;
}
.prices{
    position: absolute;
    font-size:14px;
    top:300px;
    right:20px;
}
.btn{
    bottom:20px;
}
.originalPrice{
    text-decoration:line-through;
}
.newPrice{
    font-weight: 900;
}

@media all and (min-width: 700px) {
    .app-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .Info{
        height:80px;
    }
}
@media all and (min-width: 800px) {
    .hero img{
        height:100vh;
    }
    .list_info p{
        font-size:22px;
     }
     .list_info p{
        margin-left:100px;
     }
}