.body{
    height:100vh;
}
.header{
    position: relative;
    z-index:1;
    margin-bottom:40px;
}
.logo{
    width:30px;
    margin-left:5px;
}
.navbar{
    position: fixed;
    top:0px;
    width:100vw;
}
.app-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:40px;
    margin-left:80px;
}
.bottom-card{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.prices{
    font-size:14px;
}
.originalPrice{
    text-decoration:line-through;
}
.newPrice{
    font-weight: bold;
}